<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Emotion Log</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='animation.css')}}">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>
  <nav>
    <div class="logo"><br>Logo</div>
    <ul>
      <li><br><a href="#" class="active">Home</a></li>
      <li><a href="/log">Log</a></li>
      <li><a href="/analytics">Analytics</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>

  <header>
    <h1>Welcome Back, XXXX! Record your thoughts below:</h1>
    <h4>0/1 Logs Recorded Today</h4>
  </header>
  <!-- CODE FOR THE CAMERA SHIT -->
  <div class="bottom">
    <button class="click" id="modal-opener">Click Here</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="start-stop">
          <a href="#" id=5 onclick="startCamera()" class="start-camera">Start Camera</a>
          
        </div>
        <br>
        <div id="canvas-parent">
          <canvas id="drawCanvas"></canvas>
          <video contrls id="videoElement" onloadeddata="adjustCanvas()"></video>
          <canvas id="captureCanvas"></canvas>
        </div>
        <select id="microphones">
          <option value="mic-1">mic-1</option>
          <option value="mic-2">mic-2</option>
          <option value="mic-3">mic-3</option>
        </select>
      </div>

    </div>    
  </div>
  
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <!-- Script tag for using live server -->
  <script src="../static/index.js"></script>
  <script src="../static/modal.js"></script>
</body>

</html>