<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Emotion Log</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>

<body class="background">
  <nav>
    <div class="logo"><br>Logo</div>
    <ul>
      <li><br><a href="#">Home</a></li>
      <li><a href="#" class="active">Log</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>

  <div class="log">
    <div class="top-row">
        <h2>Date</h2>
        <h2>Time</h2>
        <h2>Play Audio</h2>
    </div>
    <br>
    <div class="row"></div>
    <div class="space"></div>
    <div class="row"></div>
    <div class="space"></div>
    <div class="row"></div>
  </div>

  <div class="arrows">
    <div class="left-arrow">↞</div>
    <div class="right-arrow">↠</div>
  </div>

  <script src="script.js"></script>
</body>

</html>